.header {
  display: flex;
  background-color: #3b5998;
  align-items: center;
  color: white;
  margin: 0;
  padding: 20px 10px;
}

.signUp {
  margin-left: auto;
  color: white;
  text-decoration: none;
}

.signIn {
  margin-left: 10px;
  color: white;
  text-decoration: none;
}
.signIn:hover,
.signUp:hover,
.title:hover {
  color: white;
}
.contacts {
  margin-left: auto;
  color: white;
  text-decoration: none;
}

.title {
  text-decoration: none;
  font-size: 40px;
  color: white;
}
