.title {
  background-color: #3b5998;
  color: white;
  margin: 0;
  padding: 20px 0 20px 10px;
}

.contactsTitle {
  color: #3b5998;
}

.filteredContacts {
  width: 350px;
  display: block;
  margin: 0 auto;
  text-align: center;
  margin-top: 20px;
}
