.buttonDelete {
  margin-left: 20px;
}

.buttonDelete:focus {
  background-color: red;
}

.contact {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  align-items: center;
}

.contact:not(:last-child){
  margin-bottom: 10px;
}

.list {
  padding: 0;
  width: 400px;
  margin: 0 auto;
}
